<nav class="navbar">
    <div class="nav-top">
        <div class="prand">
            <a class="nav-link" routerLink="/Home">3ElSaree3</a>
        </div>
        <div class="dates">
            <div id="clock">
                <div class="AM mr-2" ></div>
                <div class="h"></div>:
                <div class="m mr-2"></div>
                <i class="far fa-clock"></i>
            </div>
            <div class="date">
                <div class="y mr-1"></div>
                <div class="mon mr-1"></div>
                <div class="d mr-1"></div>,
                <div class="w mr-2"></div>
                <i class="far fa-calendar-alt"></i>
            </div>
        </div>
        <div class="menu">
            <div class="icon nav-icon-5">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <ul class="navbar-nav bg-nav-light"> 
        <li class="nav-item">
            <a class="nav-link" routerLink="/Home">الرائيسية<i class="fas ml-1 fa-home"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link border-r" routerLink="/SPORTS">رياضة</a>
        </li>
        <li class="nav-item">
            <a class="nav-link border-r" routerLink="/BUSINESS">اقتصاد</a>
        </li>
        <li class="nav-item">
            <a class="nav-link border-r" routerLink="/HEALTH">صحه</a>
        </li>
        <li class="nav-item">
            <a class="nav-link border-r" routerLink="/entertainment">ثقافة</a>
        </li>
    </ul>
</nav>
<div class="icon-top d-none">
    <i class="fas fa-chevron-up"></i>
</div>

<router-outlet></router-outlet>

<footer>
    <ul class="footer-nav"> 
        <li class="nav-item">
            <a class="nav-link" routerLink="/Home">الرائيسية<i class="fas ml-1 fa-home"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/SPORTS">رياضة</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/BUSINESS">اقتصاد</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/HEALTH">صحه</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/entertainment">ثقافة</a>
        </li>
    </ul>
    <div class="footer-end">
        <p>Made With <i class="fas fa-heart"></i> By <a class="a" href="http://islamali.epizy.com/?i=1" target="_blank">Islam Ali </a>  © 2021</p>
    </div>
</footer>
<div class="bg-sk">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
</div>