<section class="padding-top" id="entertainment" >
    <div class="inputSearch">
        <div class="div-input">
            <input [(ngModel)]="search" type="text" placeholder="بحث"  >
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="cards" >
        <div class="card" *ngFor="let x of businessdata | filtter:search ">
            <div class="rgba" ></div>
            <img [src]="x.urlToImage" alt="">
            <a class="nav-link" href={{x.url}} target="_blank">{{x.title}}</a>
        </div>
    </div>
</section>